* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    height: 100%;
    color: antiquewhite;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
  }
  
  .btn {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 25px 32px;
  }
  
  
  /* logo image */
  #logo {
    width: 50%;
  }

  /* Button Layouts */
  
  .btn-layouts {
    color: #000;
  }
  
  .btn-layouts::after,
  .btn-layouts::before {
    border: 3px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
  }
  
  .btn-layouts:hover::after {
    transform: translate(-5px, -5px);
  }
  
  .btn-layouts:hover::before {
    transform: translate(5px, 5px);
  }